<div class="contact-us container">
    <form id="contactForm">
        <h3 class="contact-us__title">Contact Us</h3>

        <div class="select">
            <span class="select__label">
                Subject
            </span>
            <div class="select__value">Work opportunities</div>
            <div class="select__option_list">
                <span class="select__option">Work opportunities</span>
                <span class="select__option">Questions about product</span>
                <span class="select__option">Cooperation</span>
                <span class="select__option">Other</span>
            </div>
        </div>

        <div class="input">
            <span class="input__label">name</span>
            <input
                type="text"
                class="input__element"
                placeholder="Enter your name..."
                name="name"
            >
            <span class="input__error">Enter only letters</span>
        </div>

        <div class="input">
            <span class="input__label">phone number</span>
            <input
                type="tel"
                class="input__element"
                placeholder="Enter your phone number..."
                name="phone"
            >
            <span class="input__error">Enter only phone number</span>
        </div>
        <div class="input">
            <span class="input__label">email</span>
            <input
                type="email"
                class="input__element"
                placeholder="Enter your email address..."
                name="email"
            >
            <span class="input__error">Enter email address</span>
        </div>

        <div class="textarea">
            <span class="textarea__label">message</span>
            <textarea
                name="message"
                class="textarea__element"
                placeholder="Your message..."
            /></textarea>
        </div>

        <button type="submit" class="contact-us__btn">
            <span class="contact-us__send-text">Send</span>
            <span class="loader"></span>
        </button>
    </form>


    <div class="success-message">
        <img
            src="../img/form-picture.svg"
            alt="A man sending telegram"
            class="success-message__img"
        >
        <h3 class="success-message__title">
            We received your message!
        </h3>
        <span class="success-message__text">
            Thanks for contacting us! We will get back to you ASAP 
        </span>
        <button type="submit" class="success-message__btn">Great!</button>
    </div>
</div>