<div class="contact container">
    <h3 class="contact__title">Contact Us</h3>
    <div class="select">
        <span class="select__label">
            Subject
        </span>
        <div class="select__value">Work opportunities</div>
        <div class="select__option_list">
            <span class="select__option">Work opportunities</span>
            <span class="select__option">Questions about product</span>
            <span class="select__option">Cooperation</span>
            <span class="select__option">Other</span>
        </div>
    </div>
    <div class="input">
        <span class="input__label">name</span>
        <input type="text" class="input__name input__area" placeholder="Enter your name...">
    </div>
    <div class="input">
        <span class="input__label">phone number</span>
        <input type="text" class="input__name input__area" placeholder="Enter your phone number...">
    </div>
</div>