<header class="header container">
    <img src="../img/logo.svg" alt="Airbnb logo" class="logo">
    <div class="navigation">
        <nav class="navigation__menu">
            <a href="#" class="navigation__menu_link">How it works?</a>
            <a href="#" class="navigation__menu_link">Browse</a>
            <a href="#" class="navigation__menu_link">Research</a>
            <a href="#" class="navigation__menu_link">About</a>
            <a href="#" class="navigation__menu_link">Contacts</a>
        </nav>
        <button class="header__btn">Sign Up</button>
    </div>
</header>