@import "dependencies/reset";
@import "dependencies/variables";
@import "dependencies/fonts";
@import "dependencies/mixin";

@import "partials/header";
@import "partials/content";
@import "partials/map";
@import "partials/contactForm";
@import "partials/select";
@import "partials/loader";


.gmnoprint,
.gm-control-active.gm-fullscreen-control {
    display:none;
}

a:hover {
    text-decoration: underline;
} 
