@font-face {
    font-family: Raleway;
    src: url('../../fonts/raleway/Raleway-Regular.ttf'),
        url('../../fonts/raleway/raleway-regular.woff'),
        url('../../fonts/raleway/raleway-regular.woff2');
}

@font-face {
    font-family: Raleway-bold;
    src: url('../../fonts/raleway/Raleway-Bold.ttf'),
    url('../../fonts/raleway/raleway-bold.woff'),
    url('../../fonts/raleway/raleway-bold.woff2');
}