// Can't be used for inputs (input can't have before/after pseudoelements).
// if another custom elements will appear.
@mixin formFocus {
    content: '';
    width: 2px;
    background-color: $form-focus-color;
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 8px 0 0 8px;
}