// colors

$brand-color: #FF5A5F;
$text-color: #212121;
$border-color: #EBEBEB;
$white-color: #fff;
$form-focus-color: #5A6BFF;
$form-option-hover: #F7F7F7;


// fonts

$main-font: Raleway;
$main-font-bold: Raleway-bold;